.txtcenter{
    text-align: center;
}

.desktop, .desktopG, .tablette {
    display: none;
}
.inner {
    width:100%;
}
.img{
    width:100%;
}
img{
    width:100%;
}
figcaption{
    text-align: center;
    font-style: italic;
    background-color: aquamarine;
}

@media screen and (min-width: 760px) {
    .telephone {
        display: none;
    }
    .tablette {
    display:block;
    }
    .img {
        display:inline-block;
        width:47%;
        margin:1%;
    }
}


@media screen and (min-width: 1100px) {
    .tablette {
        display: none;
    }
    .desktop {
        display:block;
    }
}


@media screen and (min-width: 1300px) {
    .desktop {
        display: none;
    }
    .desktopG {
    display:block;
    }
    .inner{
        margin-left:6%;
        margin-right:6%;
    }
    .img{
        width:20%;
    }
}